@import url("https://fonts.googleapis.com/css?family=Caveat|Mukta|Fredericka+the+Great");

:root {
  --teal: #59afc4a4;
  --yellow: #fdee62;
  --Mukta: "Mukta", sans-serif;
  --Caveat: "Caveat", sans-serif;
  --FTG: "Fredericka the Great", cursive;
  --shadow: 2px 4px 35px rgba(161, 161, 161, 0.884);
}

body {
  background-color: var(--teal);
  text-align: center;
  margin: 3vh auto;
  max-height: 95vh;
  vertical-align: middle;
}

#container {
  height: 95vh;
  width: 80vw;
  background-image: url("../Images/bananas.png");
  opacity: 0.7;
  border-radius: 1vw;
  display: block;
  margin: 0 auto;
  font-family: var(--Mukta);
}

#honest {
  font-size: 5vh;
  line-height: 5.5vh;
}
h1 {
  background-color: var(--yellow);
  font-family: var(--Mukta);
  border-radius: 1vw;
  font-size: 3vh;
}
h2 {
  font-family: var(--Caveat);
  font-size: 4vh;
  font-weight: 200;
  width: 90%;
  margin: 0 auto;
}
.white {
  background-color: whitesmoke;
  border-radius: 0.5vw;
  width: 50%;
  height: 4vh;
  box-shadow: var(--shadow);
  font-size: 4vh;
  line-height: 3.5vh;
}

.other {
  font-family: var(--Mukta);
  font-size: 2.4vh;
  margin-top: 1vh;
  width: 55vw;
}

.may {
  text-emphasis: emphasis;
  font-family: var(--Caveat);
  font-weight: 100;
  font-size: 2.75vh;
}

#correctguesses {
  font-size: 4.5vh;
}

.board {
  width: 60vw;
  height: 38vh;
  margin: 1.2vh auto;
  display: inline-block;
  background-color: rgba(101, 184, 162, 0.646);
  border-radius: 0.5vw;
  vertical-align: middle;
  /* justify-content: center;
  align-content: center; */
  box-shadow: var(--shadow);
}
.panel {
  margin: -1vh auto;
  font-family: var(--FTG);
  position: relative;
  top: -2.2vh;
  background-color: rgba(245, 245, 245, 0.881);
  border-radius: 0.5vw;
  box-shadow: var(--shadow);
}

#guessesleft,
#wins,
#losses,
#wrongguesses {
  font-size: 4vh;
  line-height: 7vh;
  width: 5vw;
  height: 7vh;
  color: rgb(255, 0, 0);
  text-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.658);
}

h3 {
  font-size: 3vh;
}

.scoreleft,
.scoreright {
  position: relative;
  top: -8vh;
  width: 10vw;
  float: left;
  height: 8vh;
  margin: 0vh 2vw;
}
.scoreleft {
  float: left;
}

#wins {
  color: rgb(100, 156, 15);
}

img {
  width: 18vw;
  height: 18vw;
  opacity: 0.8;
  position: sticky;
  z-index: -200;
  /* top: 57vh; */
  /* left:41vw; */
  margin: -10.5vh auto;
}

.scoreright {
  float: right;
}

#wrongguesses {
  width: 30vw;
  height: 5vh;
  line-height: 6vh;
}

.wrong {
  width: 35vw;
  position: relative;
  top: -4vw;
  margin: 0 auto;
  height: 4vh;
}


/* start of queries */


@media only screen and (max-width: 475px) {
  body {
    margin: 4%;
  }

  h1 {
    margin: 0 auto;
    font-size: 2vh;
  }
  .honest {
    font-size: 3vh;
  }

  .white {
    font-size: 3vh;
    line-height: 3.55vh;
    font-weight: 200;
    width: 50vw;
    margin: 2vh auto;
  }

  .other {
    font-size: 3.95vw;
    width: 65vw;
  }

  .may {
    font-size: 3.55vh;
  }

  img {
    width: 30vw;
    height: 30vw;
    opacity: 0.8;
    position: sticky;
    z-index: -200;
    margin: -7vh auto;
  }

  .board {
    height: 40vh;
  }

  h3 {
    font-size: 2vh;
    font-weight: 200;
  }

  .wrong {
    width: 35vw;
    position: relative;
    top: 5vh;
  }
}

@media only screen and (max-width: 671px) {
  .board {
    height: 30vh;
  }
  h3 {
    font-weight: 200;
    font-size: 2.5vh;
  }
  #guessesleft,
  #wins,
  #losses,
  #wrongguesses {
    font-size: 3vh;
    line-height: 3.5vh;
    height: 3.5vh;
  }
  .scoretop {
    position: relative;
    top: -1vh;
  }

  .scoreleft,
  .scoreright {
    top: -3vh;
    margin: 0vh 3vw;
  }

  img {
    width: 22vw;
    height: 22vw;
  }

  .wrong {
    top: 4vh;
  }
}
@media only screen and (max-width: 1101px) {
  .scoreleft,
  .scoreright {
    top: -3.5vh;
  }

  .wrong {
    top: 3.5vh;
  }
  #wrongguesses {
    height: 4vh;
    line-height: 4.5vh;
  }

  @media only screen and (max-width: 1280px) {
    /* .wrong{
  top:0vw
} */
  }
}
